<!DOCTYPE html>
<html lang="en">
<head>

    @{
        ViewData["Title"] = "Sabahattin Ali - Kitap Alıntıları";
    }
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
     <div class="e_metin">Kitap Alıntıları</div><br />
     <div class="alinti-genel">
     <blockquote>
          <p>"Sabahattin Ali, Türk edebiyatında önemli bir yere sahiptir ve eserleri toplumsal gerçekçiliği yansıtarak derin bir psikolojik çözümleme sunar."</p>
    <footer>- Sabahattin Ali, *Kürk Mantolu Madonna*, 1943</footer>
     </blockquote>
     <img src="~/image/foto5.jpg" />
     </div>
      <div class="alinti-genel">
     <blockquote>
          <p>“Dünyada hayatın bir tek manası varsa o da sevmektir.”</p>
    <footer>- Sabahattin Ali, *Canım Aliye,Ruhum Filiz*</footer>
     </blockquote> 
     <blockquote>
          <p>"Tesadüf seni önüme çıkarmasaydı, gene aynı şekilde, fakat her şeyden habersiz, yaşayıp gidecektim.<br />
              Sen bana dünyada başka bir hayatın da mevcut olduğunu, benim bir de ruhum bulunduğunu öğrettin.</p>
    <footer>- Sabahattin Ali, *Kürk Mantolu Madonna*</footer>
     </blockquote>    
     </div>
       <div class="alinti-genel">
     <img src="~/image/foto3.jpg" />
     <blockquote>
          <p>"“Yarın öldüğümüz zaman birisi bize sorsa: ‘Dünyada neler gördünüz?’ dese herhalde verecek cevap bulamayız.<br />
              Koşmaktan görmeye vaktimiz olmuyor ki…”</p>
    <footer>- Sabahattin Ali, *Değirmen*</footer>
     </blockquote>    
     </div>
       <div class="alinti-genel">
     <blockquote>
          <p>"Hiç geçmeyen, hiç unutulmayan şeyler de var, beyefendi!
              Ölünceye kadar insanın sırtından atamayacağı şeyler de var..."</p>
    <footer>- Sabahattin Ali, *Kuyucaklı Yusuf*</footer>
     </blockquote>  
     <blockquote>
          <p>"Hayatta en güvendiğim insana karşı duyduğum bu kırgınlık, adeta bütün insanlara dağılmıştı; 
              çünkü o benim için bütün insanların timsaliydi."</p>
    <footer>- Sabahattin Ali, *Kürk Mantolu Madonna*</footer>
     </blockquote>
     </div>
     </body>
</html>