<!DOCTYPE html>
<html lang="en">
<head>

    @{
        ViewData["Title"] = "Sabahattin Ali - Biyografi";
    }
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
     <div class="banner"><img src="~/image/banner2.jpg" /></div><br />
     <div class="b_metin"><p>Sabahattin Ali, 25 Şubat 1907'de Eğridere, Bulgaristan'da doğmuş, Türk edebiyatının önemli yazarlarından biridir.<br /> 
         Anadolu insanının yaşamını, toplumsal adaletsizlikleri ve bireysel çatışmaları konu alan eserleriyle tanınır.<br /> 
         Romanları arasında "Kuyucaklı Yusuf", "Kürk Mantolu Madonna" ve "İçimizdeki Şeytan" öne çıkar.<br />
         Siyasi görüşleri nedeniyle baskı ve hapis cezalarıyla karşılaşmış, toplumsal sorunlara dikkat çeken yazılar kaleme almıştır.<br /> 
         Trajik bir şekilde 2 Nisan 1948'de Bulgaristan sınırında öldürülmüştür. Edebiyatımızda unutulmaz bir iz bırakmıştır.</p></div><hr />
         <div><p><strong>25 Şubat 1907:</strong>Eğridere (bugün Bulgaristan sınırlarında) kasabasında doğdu. Babası piyade yüzbaşısı Selahattin Ali, annesi Hüsniye Hanım’dır.<br />
                 <strong>1910’lar:</strong>Balkan Savaşları nedeniyle ailesiyle birlikte İstanbul’a göç etti.<br />
                 <strong>1918-1921:</strong>İlkokulu İstanbul’da bitirdi. Ailesiyle birlikte Edremit’e taşındı ve ortaokula burada devam etti.<br />
                <strong>1921:</strong>Balıkesir Öğretmen Okulu’na başladı.<br />
                 <strong>1923:</strong> Edebiyat öğretmenlerinin desteğiyle şiir ve hikâye yazmaya başladı.<br />
                 <strong>1926:</strong> İstanbul Öğretmen Okulu’ndan mezun oldu ve öğretmen olarak göreve başladı.<br />
                 <strong>1928:</strong> Millî Eğitim Bakanlığı tarafından Almanya’ya gönderildi. Berlin ve Potsdam’da eğitim gördü.<br /> Bu dönemde Batı edebiyatıyla tanıştı.<br />
                 <strong>1930:</strong> Türkiye’ye döndü ve Aydın, Konya gibi Anadolu şehirlerinde Almanca öğretmenliği yaptı.<br />
                 <strong>1931:</strong>"Resimli Ay" dergisinde ilk öykülerini yayımlamaya başladı.<br />
                 <strong>1932:</strong> Türk Ocakları Konya Şubesi’nde okuduğu bir şiir nedeniyle tutuklandı. Şiir, dönemin yönetimine eleştirel bulundu.<br />
                 <strong>1933:</strong> Hapisten çıktı ve öğretmenlik mesleğine döndü.<br />
                 <strong>1935:</strong> Aliye Hanım ile evlendi ve bu evlilikten Filiz adında bir kızı oldu.<br /><br />
                 <img src="~/image/foto4.jpg" /><br /><br />
                 <strong>1936:</strong> İlk öykü kitabı "Değirmen" yayımlandı.<br />
                 <strong>1937:</strong> "Ses", "Kağnı" ve "Yeni Dünya" adlı öykü kitaplarını yayımladı.<br />
                 <strong>1939:</strong> "İçimizdeki Şeytan" romanını yayımladı. Roman, toplumun birey üzerindeki baskısını ve bireyin iç çatışmalarını ele alıyordu.<br />
                 <strong>1941:</strong> İlk olarak "Hüseyin Nihal Atsız" ile yazışmaları ve fikir ayrılıkları nedeniyle eleştiriler aldı.<br />
                 <strong>1943:</strong> En önemli eserlerinden biri olan "Kürk Mantolu Madonna" yayımlandı.<br /> Roman, ilk kez Hakikat gazetesinde tefrika edildi ve ardından kitap haline getirildi.<br />
                 <strong>1944:</strong> Siyasi baskılar arttı. Özellikle “Marko Paşa” dergisinde yayımladığı yazılar nedeniyle dönemin hükümetiyle karşı karşıya geldi.<br />
                 <strong>1945:</strong> Aziz Nesin ve Rıfat Ilgaz ile birlikte "Marko Paşa" adlı mizah dergisini çıkarmaya başladı.<br />Bu dergi, hükümetin sansürüyle sık sık kapatıldı.<br />
                 <strong>1947:</strong> "Marko Paşa" dergisi nedeniyle birçok kez mahkemeye çıkarıldı ve kısa süreli hapis cezaları aldı.<br />
                 <strong>1944:</strong> Siyasi baskılar arttı. Özellikle “Marko Paşa” dergisinde yayımladığı yazılar nedeniyle dönemin hükümetiyle karşı karşıya geldi.<br />
                 <strong>1945:</strong> Aziz Nesin ve Rıfat Ilgaz ile birlikte "Marko Paşa" adlı mizah dergisini çıkarmaya başladı. Bu dergi, hükümetin sansürüyle sık sık kapatıldı.<br />
                 <strong>1947:</strong> "Marko Paşa" dergisi nedeniyle birçok kez mahkemeye çıkarıldı ve kısa süreli hapis cezaları aldı.<br />
                 <strong>1948:</strong> Sabahattin Ali, yurtdışına kaçmak için Ali Ertekin adlı bir kaçakçıyla anlaştı.<br />
                 <strong>2 Nisan 1948:</strong> Bulgaristan sınırına yakın bir bölgede, Ali Ertekin tarafından öldürüldü. <br />
                 Resmi kayıtlara göre ölüm nedeni "darp" olarak geçse de cinayet, siyasi bir suikast olarak kabul edildi.<br /><br />
                 <div class="b_foto5"><img src="~/image/foto5.jpg" /></div>
             
             </p></div>





    </body>
</html>