<!DOCTYPE html>
<html lang="en">
<head>

    @{
        ViewData["Title"] = "Sabahattin Ali - Canım Aliye Ruhum Filiz";
    }
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="e_metin">Canım Aliye Ruhum Filiz</div><br />
    <div class="o_metin"><p><b><i>Canım Aliye, Ruhum Filiz, Sabahattin Ali’nin eşi Aliye Hanım ve kızı Filiz’e yazdığı mektuplardan oluşan, yazarın iç dünyasını ve ailesine olan sevgisini yansıtan bir kitaptır.<br />
        Kitap, Sabahattin Ali’nin ailevi bağlarını, duygusal derinliğini ve hayat mücadelesini anlatır.<br />
        Mektuplar, yazarın kişisel dünyasına ışık tutarken, dönemin toplumsal ve edebi havasına dair ipuçları da verir.</i></b> </p>
     </div><hr />
     <div class="metin_ozet">
     <div class="oyku">
       <br /><strong>Canım Aliye Ruhum Filiz Kitabının Özeti</strong><br /><br />
       Sabahattin Ali’nin Canım Aliye, Ruhum Filiz kitabı, yazarın eşi Aliye Hanım ve kızı Filiz’e yazdığı mektuplardan oluşan bir eser olup, ailesine duyduğu derin sevgiyi, özlemini ve yaşam mücadelesini içtenlikle yansıtır.<br />
       Yazar, ailesinden uzakta olduğu zamanlarda kaleme aldığı bu mektuplarda, eşine olan sevgisini, kızına duyduğu özlemi ve bir baba olarak hissettiği sorumluluğu samimi bir şekilde dile getirir.
       Aynı zamanda bu yazılar, Sabahattin Ali’nin yaşam mücadelesine, geçim sıkıntılarına ve ailesine daha iyi bir yaşam sağlama çabasına ışık tutar. <br />
       Mektuplarında yalnızca duygusal bağlarından değil, sanat ve edebiyata dair düşüncelerinden, toplumsal gözlemlerinden ve dönemin zorluklarından da söz eder.
       Duygusal yoğunluğu ve samimiyetiyle dikkat çeken bu eser, Sabahattin Ali’nin hem bir yazar olarak hem de bir eş ve baba olarak iç dünyasını anlamak isteyenler için kıymetli bir hatıradır. 
       Canım Aliye, Ruhum Filiz, sevgi, özlem ve mücadelenin bir insanın hayatında nasıl iç içe geçtiğini gözler önüne serer.<br /><br />

      Canım Aliye, Ruhum Filiz, Sabahattin Ali’nin sadece bir yazar olarak değil, aynı zamanda bir eş ve baba olarak kimliğini tanımak için değerli bir eserdir.<br /> 
      Mektuplar, yazarın iç dünyasını, sevdiklerine olan bağlılığını ve zorluklar karşısında gösterdiği direnci gözler önüne serer. <br />
      Kitap, hem edebiyatseverler hem de yazarın hayatına dair daha fazla bilgi edinmek isteyenler için özel bir anlam taşır.
        </div>
     <img src="~/image/foto9.jpg" class="resim"/>    
    </div>
    </body>
</html>
