<!DOCTYPE html>
<html lang="en">
<head>

    @{
        ViewData["Title"] = "Sabahattin Ali - Değirmen";
    }
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="e_metin">D E Ğ İ R M E N</div><br />
    <div class="o_metin"><p><b><i>Değirmen, Sabahattin Ali’nin 1935 yılında yayımlanan ve yazarın ilk hikâye kitabıdır.<br />
        Bu eser, Sabahattin Ali’nin toplumsal gözlemlerini, insan ruhunun derinliklerine olan duyarlılığını ve gerçekçi anlatım tarzını yansıtan 16 hikâyeden oluşur.
        Kitaptaki öyküler, bireylerin iç dünyası ile toplum arasındaki çatışmaları işler.<br />
        Bu öykülerden özellikle "Değirmen" öyküsü öne çıkmaktadır.</i></b> </p>
     </div><hr />
     <div class="metin_ozet">
     <div class="oyku">
       <br /><strong>Değirmen Hikayesinin Özeti</strong><br /><br />
        Değirmen hikâyesi, aşk, fedakârlık ve trajedi temalarını işler. Hikâyenin ana karakteri, köyün genç ve yakışıklı delikanlısı Mustafa’dır. 
        Mustafa, köyün güzel kızı Sacide’ye âşıktır. Sacide de Mustafa’ya ilgi duyar. Ancak bu aşkın önünde birçok engel vardır.<br />
        Sacide’nin babası kızını zengin bir adamla evlendirmek ister. Mustafa ise fakir bir gençtir ve Sacide ile evlenmesi imkânsız görünmektedir. 
        Sacide, babasına karşı gelerek Mustafa ile kaçmayı düşünür, ancak bu planı hayata geçirmek kolay olmaz.
        Hikâyenin en çarpıcı yönlerinden biri, Mustafa’nın aşkı uğruna yaptığı fedakârlıklardır. <br />
        Sacide’nin babasını ikna etmek için Mustafa değirmende gece gündüz çalışır, ama bu çabaları sonuçsuz kalır.
        Sacide, babasının baskısına boyun eğmek zorunda kalarak zengin biriyle evlendirilir. Bu durum Mustafa için büyük bir yıkıma dönüşür.
        Mustafa, hayatını Sacide’ye olan aşkı için harcadığını anladığında, içindeki umutlar ve hayaller yıkılır. 
        Hikâye, Mustafa’nın trajik sonuyla noktalanır ve okuyucuyu derin bir hüzünle baş başa bırakır.<br /><br />
        <strong>Kitapta Yer Alan Diğer Hikâyeler</strong><br /><br />
        Kitapta yer alan diğer öyküler de benzer şekilde insan ilişkilerini, ahlaki değerleri, toplumsal adaletsizlikleri ve bireyin içsel çatışmalarını ele alır. Örneğin:<br />
        Gramofon Avrat: Aşk ve yalnızlık üzerine dokunaklı bir hikâye.<br />
        Bir Şaka: Toplumdaki sınıf ayrımını ele alır.<br />
        Sabahattin Ali’nin bu hikâyeleri, sade ve etkileyici üslubuyla okuyucuyu derinden etkilerken, insan doğasının karmaşıklığını ve toplumsal sorunları büyük bir ustalıkla işler.
        </div>
         <img src="~/image/foto11.jpg" class="resim"/>    
    </div>
    </body>
</html>