<!DOCTYPE html>
<html lang="en">
<head>

    @{
        ViewData["Title"] = "Sabahattin Ali - Esirler";
    }
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="e_metin">E S İ R L E R</div><br />
    <div class="o_metin"><p><b><i>Esirler, savaş sonrası bir ortamda geçen, bireylerin özgürlük arayışını, adalet özlemini ve insanın ahlaki değerler üzerindeki sınavını işleyen bir tiyatro oyunudur.<br />
        Hikâye, bir Osmanlı esir kampında kesişen hayatlar etrafında şekillenir.<br />
        Eser, savaşın insanları nasıl esir aldığını, fiziksel esaretin yanı sıra duygusal ve ahlaki tutsaklıkların nasıl yaşandığını dramatik bir dille anlatır.</i></b> </p>
     </div><hr />
     <div class="metin_ozet">
     <div class="oyku">
       <br /><strong>Esirler Oyununun Özeti</strong><br /><br />
       Eser, Osmanlı döneminde bir esir kampında başlar.<br /> Savaş sırasında esir alınan düşman askerleri, kampta zor şartlar altında yaşamaya çalışmaktadır. 
       Kamptaki yaşam, savaşın insanlığa zarar veren yüzünü açıkça gözler önüne serer. 
       Esirler, yalnızca fiziksel olarak değil, aynı zamanda duygusal ve ahlaki olarak da esir edilmiştir.<br />
       Kamptaki baskıcı düzen ve hiyerarşik yapı, insanların vicdanlarını nasıl susturduğunu ve zulmün nasıl sıradanlaştığını anlatır.
       Bu ortamda, Zeynep ve Hikmet Bey arasındaki ilişki, oyunun ana dinamiğini oluşturur.
       Zeynep, savaştan ve onun yarattığı yıkımdan etkilenmiş, ancak güçlü kalmayı başarmış bir kadındır. 
       Hikmet Bey ise vicdanıyla hareket eden bir subaydır. Hikmet, esir kampındaki haksızlıkları gördükçe bu düzenin yanlışlarını sorgulamaya başlar ve Cemal Bey’in otoriter yönetimine karşı çıkar.<br /> 
       Hikmet’in bu başkaldırışı, hem kendisini hem de Zeynep’i tehlikeye atar.<br />
       Hikmet Bey ve Zeynep, kampın zor koşullarına rağmen, insanlık onurunu ve sevgiyi korumaya çalışır.
       İkisi de savaşın yarattığı karanlık ve adaletsizlik karşısında bir umut ışığıdır.
       Ancak, Hikmet’in adalet arayışı, Cemal Bey’in zalimce kararlarıyla karşı karşıya gelir.
       Hikmet ve Zeynep, yalnızca dışsal düşmanlarla değil, aynı zamanda savaşın yarattığı içsel düşmanlarla, korku ve çaresizlikle de mücadele etmek zorundadır.
       Oyunun sonunda, Hikmet ve Zeynep’in insanlık onurunu koruma çabaları trajik bir şekilde son bulur.<br /><br />

      Esirler, Sabahattin Ali’nin savaşın insanlık üzerindeki etkilerini dramatik bir şekilde ele aldığı bir tiyatro eseridir.<br />
      Karakterler üzerinden, esaretin yalnızca fiziksel olmadığını, insanın ahlaki değerlerini yitirdiğinde de bir esir haline geldiğini güçlü bir şekilde vurgular.<br />
      Eser, insanlık onurunu koruma çabasını ve özgürlük arayışını anlatarak, okuyucuya ve izleyiciye derin bir ahlaki sorgulama sunar.
        </div>
     <img src="~/image/foto10.jpg" class="resim"/>    
    </div>
    </body>
</html>
