<!DOCTYPE html>
<html lang="en">
<head>

    @{
        ViewData["Title"] = "Sabahattin Ali - Galeri";
    }
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
     <div class="e_metin">G a l e r i</div><br />
     <h3>Türk şair ve yazar Sabahattin Ali'nin fotoğrafları</h3>
     <div class="galeri1"><img src="~/image/foto19.jpeg" />
     <div class="galeri3"><img src="~/image/foto3.jpg" /></div>     
     <div class="galeri2"><img src="~/image/foto21.jpeg" /></div></div>  
     <div class="galeri3"><img src="~/image/foto1.jpg" />
     <img src="~/image/foto2.jpg" /></div><br /><br />
     <h4>Sabahattin Ali ve Eşi, Anı Evi</h4>
     <div class="evi"><img src="~/image/esi.jpeg" /><img src="~/image/evi.jpg" /></div><br /><br />
     <h4>Sabahattin Ali'nin Sinop Cezaevi'nde kaldığı koğuştan görünümler</h4>
     <div class="cezaevi"><img src="~/image/kogus.jpg" /><img src="~/image/cezaevi.JPG" /><img src="~/image/cezaevi1.jpeg" /></div><br /><br />
     <h4>Sabahattin Ali'nin mezarı ve ölümünden sonra bulunan eşyaları</h4>
     <div class="mezar"><img src="~/image/mezari.jpg" /><img src="~/image/esya.jpg" /></div><br /><br />
     <h4>Yazarın Eğridere'deki büstü</h4>
     <div class="bust"><img src="~/image/büst.JPG" /></div>
 </body>
</html>