<!DOCTYPE html>
<html lang="en">
<head>

    @{
        ViewData["Title"] = "Sabahattin Ali - Kağnı";
    }
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="e_metin">K A Ğ N I</div><br />
    <div class="o_metin"><p><b><i>Kağnı, Sabahattin Ali’nin 1936 yılında yayımlanan öykü kitabıdır ve Türk edebiyatının en önemli eserlerinden biri olarak kabul edilir. 
        Kitap, 13 hikâyeden oluşur ve yazarın gözlemci, gerçekçi ve eleştirel yönünü yansıtır. <br />
        Hikâyelerde genellikle Anadolu insanının zorlu yaşam koşulları, toplumsal eşitsizlikler ve bireyin çaresizliği anlatılır.<br />
         Kitaba adını veren Kağnı öyküsü, kitabın en çarpıcı hikâyelerinden biridir. 
         Bu hikâye, toplumdaki adaletsizliklere ve köylülerin çaresizliğine dikkat çeker.</i></b> </p>
     </div><hr />
     <div class="metin_ozet">
     <div class="oyku">
       <br /><strong>Kağnı Hikayesinin Özeti</strong><br /><br />
        Hikâye, Anadolu köylerinden birinde geçer ve toplumsal adaletsizlik ile bireysel fedakârlık konularını işler. 
        Ana karakter, köyde yaşayan Hatice adlı genç bir kadındır.
        Hatice, yoksul bir köylü ailesinin kızıdır ve zorlu hayat şartlarıyla baş etmeye çalışır.
        Ailesinin geçimini sağlamak için hem evde hem de tarlada büyük bir özveriyle çalışır.<br />
        Hatice, güçlü ve dirayetli bir kadın olmasına rağmen, köydeki ağaların ve eşrafın baskısı altındadır.
        Bu baskı, yalnızca ekonomik değil, aynı zamanda sosyal boyutlar da taşır. 
        Hikâye boyunca Hatice’nin mücadelesine ve adalet arayışına tanık oluruz.<br />
        Bir gün, köyün zalim ağalarından biri, Hatice’ye iftira atarak onu suçlu durumuna düşürür. 
        Bu iftira, aslında ağanın kendi çıkarlarını koruma çabasıdır. Hatice, bu haksızlık karşısında sesini çıkarmaya çalışsa da, köydeki güç dengeleri nedeniyle sesi duyulmaz.
        Sonunda Hatice, yaşadığı tüm haksızlıklara ve baskılara dayanamayarak büyük bir fedakârlık yapar.<br />
        Ancak hikâye, Hatice’nin bu fedakârlığının bile adaletin sağlanması için yeterli olmadığını, çünkü adaletin güçlüler tarafından kontrol edildiğini gösterir. 
        Hikâye, dramatik ve etkileyici bir şekilde sona erer.<br /><br />
        <strong>Kitapta Yer Alan Diğer Hikâyeler</strong><br /><br />
        Kağnı kitabındaki diğer hikâyelerde de toplumsal gerçekçilik ön plandadır.<br /> İşte öne çıkan birkaç hikâye:<br />
        Kanal: Köylülerin zorla çalıştırıldığı bir sulama kanalında geçen trajik bir olay.<br />
        Gramofon Avrat: Aşk ve yalnızlık temasını işler.
        </div>
         <img src="~/image/foto12.jpg" class="resim"/>    
    </div>
    </body>
</html>
