<!DOCTYPE html>
<html lang="en">
<head>

    @{
        ViewData["Title"] = "Sabahattin Ali - Kürk Mantolu Madonna";
    }
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="e_metin">Kürk Mantolu Madonna</div><br />
    <div class="o_metin"><p><b><i>Sabahattin Ali’nin 1943 yılında yayımlanan Kürk Mantolu Madonna romanı, aşk, yalnızlık, insan ruhunun derinlikleri ve toplumsal yabancılaşma temalarını işler.<br />
        Roman, ana karakter Raif Efendi’nin geçmişine yapılan bir yolculukla, unutulmaz bir aşk hikâyesini gün yüzüne çıkarır.</i></b> </p>
     </div><hr />
     <div class="metin_ozet">
     <div class="oyku">
       <br /><strong>Kürk Mantolu Madonna Hikayesinin Özeti</strong><br /><br />
       Sabahattin Ali’nin Kürk Mantolu Madonna romanı, yalnızlık, aşk ve insan ruhunun derinliklerini işleyen unutulmaz bir eserdir.<br />
       Roman, içine kapanık, sıradan bir memur olan Raif Efendi’nin geçmişte yaşadığı büyük bir aşkın hikâyesini konu alır.
       Hikâye, isimsiz bir anlatıcının Raif Efendi ile tanışmasıyla başlar.
       Çevresi tarafından sessizliği ve basitliğiyle tanınan Raif Efendi, aslında derin bir iç dünyaya sahiptir.<br />
       Anlatıcı, onun sıradan görüntüsünün ardında büyük bir trajedi olduğunu hisseder.
       Bir gün Raif Efendi, geçmişine dair tuttuğu notları anlatıcıya verir ve hikâyenin merkezine gençliğinde yaşadığı tutkulu bir aşk oturur.
       Raif Efendi, gençlik yıllarında eğitim için Berlin’e gönderilmiştir.
       Orada bir sanat galerisinde, kürk manto giymiş bir kadının portresine âşık olur. 
       Günlerce bu tabloyu izlemeye giden Raif, bir gün portredeki kadının gerçek kişi olduğunu öğrenir ve onunla tanışır.<br />
       Kadının adı Maria Puder’dir. Maria, güçlü ve bağımsız bir karakterdir; geçmişte yaşadığı hayal kırıklıkları nedeniyle aşka mesafeli yaklaşsa da Raif’in saf sevgisiyle derin bir ilişki yaşamaya başlarlar.
       Raif, Türkiye’ye dönmek zorunda kalır, ancak Maria ile mektuplaşarak aşklarını sürdürürler. 
       Bir süre sonra Maria’dan gelen mektuplar kesilir ve Raif, terk edildiğini düşünerek hayal kırıklığına uğrar.
       Yıllar sonra Maria’nın öldüğünü ve onunla ilgili gerçekleri öğrenir. Bu kayıp, Raif’in hayata tamamen küsmesine neden olur. O, yalnızlık içinde sessiz bir yaşam sürerken büyük aşkını içinde taşımaya devam eder.<br /><br />

       Sabahattin Ali’nin yalın ama derinlikli anlatımı, okuyucuyu hem duygusal hem de düşünsel bir yolculuğa çıkarır.
       Roman, yalnızca bir aşk hikâyesi değil, aynı zamanda bireyin kendi iç dünyasıyla hesaplaşmasını ve toplumdaki yerini sorgulamasını konu alır.<br />
       Raif Efendi’nin hikâyesi, okuyucunun kendi hayatına dair pek çok soruyu da gündeme getirir.
        </div>
     <img src="~/image/foto6.jpg" class="resim"/>    
    </div>
    </body>
</html>