<!DOCTYPE html>
<html lang="en">
<head>

    @{
        ViewData["Title"] = "Sabahattin Ali - Yayımlanmış Mektup Kitapları";
    }
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
     <div class="e_metin">Yazdığı Mektup Kitapları</div><br />
      <div class="o_metin"><p><b><i>
Sabahattin Ali, Türk edebiyatının önde gelen yazarlarından biri olarak, mektuplarında hem edebi hem de kişisel bir yön sergiler.<br />
Sabahattin Ali'nin mektup türündeki eserleri genellikle onun iç dünyasını, düşüncelerini ve yaşadığı dönemin sosyal ve politik olaylarını anlamak için önemli bir kaynaktır.<br />
Hem bireysel hem de toplumsal konulara değindiği mektupları, Türk edebiyatı ve tarihine ışık tutar</i></b> </p>
     </div><hr />
     <div class="e_foto11"><img src="~/image/foto9.jpg" />
   <div class="o_metin2">Ortalama Sayfa Sayısı: 144 sayfa<br /><br /> 
       Sabahattin Ali’nin sevgi dolu bir eş ve baba olarak portresi çizilir.<br />
       Mektuplar, ailesine duyduğu özlemi ve onların mutluluğu için duyduğu sorumluluğu yansıtır.<br /> 
       Bunun yanında, edebi eserlerini yazarken yaşadığı zorluklar ve kişisel görüşlerine de yer verilir.
   <a href="@Url.Action("canimAliye_ruhumFiliz","Home")" class="continue-btn">Devamı...</a>
   </div></div>
         <div class="e_foto11"><img src="~/image/foto22.jpg" />
   <div class="o_metin2">Ortalama Sayfa Sayısı: 560 sayfa<br /><br /> 
       Kitapta, Sabahattin Ali’nin ailesine, arkadaşlarına ve iş ortaklarına yazdığı mektuplarla, Sabahattin Ali’ye ailesi, Nazım Hikmet,
       Esat Adil Müstecaplıoğlu, Mehmet Ali Aybar, Mehmet Ali Cimcoz, Aziz Nesin, Melahat Togar, Ayşe Sıtkı İlhan, NihalAtsız, Cemal Kutay, Samim Kocagöz
       başta olmak üzere arkadaşları ve öğrencileri tarafından gönderilen, Markopaşa ve Yeni Dünya’nın kuruluşunda yazılan mektuplar ve resmi yazışmalar bulunmaktadır.
   <a href="@Url.Action("hep_genc_kalacagim","Home")" class="continue-btn">Devamı...</a>
   </div></div>
    </body>
</html>