<!DOCTYPE html>
<html lang="en">
<head>

    @{
        ViewData["Title"] = "Sabahattin Ali - Yayımlanmış Romanları";
    }
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="e_metin">Romanları</div><br />
    <div class="o_metin"><p><b><i>Sabahattin Ali, Türk edebiyatının en önemli yazarlarından biri olarak, toplumsal gerçekçilik ve psikolojik derinliği bir araya getiren romanlarıyla tanınır.<br /> 
        Üç romanı olan "Kuyucaklı Yusuf", "İçimizdeki Şeytan" ve "Kürk Mantolu Madonna", hem bireyin iç dünyasını hem de toplumun yapısal sorunlarını ele alır.<br />
        "Kuyucaklı Yusuf", taşra hayatını ve adaletsizlikleri işlerken, "İçimizdeki Şeytan" bireyin içsel çatışmalarını ve toplumsal baskıları irdeler.<br />
        "Kürk Mantolu Madonna", derin bir aşk hikâyesi üzerinden insanın yalnızlığını ve ruhsal dünyasını anlatır.<br /> 
        Sade ama etkileyici bir üslupla yazılan bu eserler, Sabahattin Ali'nin toplumsal eleştiri gücünü ve insan ruhuna dair keskin gözlemlerini gözler önüne serer.<br /> 
        Yazar, bu romanlarıyla Türk edebiyatında unutulmaz bir iz bırakmıştır. </i></b> </p>
     </div><hr />
     <div class="e_foto11"><img src="~/image/foto15.jpg" />
   <div class="o_metin2">Ortalama Sayfa Sayısı: 176 sayfa<br /><br /> 
       Yusuf, ailesi köyde bir baskın sırasında öldürülen bir çocuktur.<br />
       Kaymakam Selahattin Bey tarafından evlat edinilir ve Kuyucak köyünden ayrılarak Edremit’e taşınır.<br /><br />
       Yusuf, burada kaymakamın kızı Muazzez’e âşık olur. Ancak Yusuf, yeni hayatında da köydeki gibi adaletsizlik, yozlaşma ve zorluklarla mücadele eder.<br />
       Roman, Yusuf’un bireysel mücadelesi üzerinden dönemin toplumsal yapısına ışık tutar.
   <a href="@Url.Action("kuyucakli_yusuf","Home")" class="continue-btn">Devamı...</a>
   </div></div>   
       <div class="e_foto11"><img src="~/image/foto6.jpg" />
       <div class="o_metin2">Ortalama Sayfa Sayısı: 160 sayfa<br /><br /> 
        Raif Efendi’nin, Almanya’da tanıştığı ressam Maria Puder’e duyduğu derin, platonik aşkı anlatır.<br /> 
        Raif Efendi’nin sıradan ve sessiz bir hayat sürdüren bir memur gibi görünse de iç dünyasında çok büyük bir sevgi ve yalnızlık barındırdığı,<br />
        yazdığı günlüklere dayanılarak keşfedilir.<br />
        Roman, aşkın ve insan ruhunun derinliklerini irdeler.
    <a href="@Url.Action("madonna","Home")" class="continue-btn">Devamı...</a>
    </div></div>    
       <div class="e_foto11"><img src="~/image/foto16.jpg" />
       <div class="o_metin2">Ortalama Sayfa Sayısı: 192 sayfa<br /><br /> 
        Ahmet ve Macide arasındaki aşk ve ilişki, bireyin içsel çatışmaları üzerinden anlatılır.<br />
        Romanın ana fikri, insanların hayattaki başarısızlıklarının sorumluluğunu dış dünyaya yüklemek yerine, kendi içlerindeki “şeytan” ile yüzleşmeleri gerektiğidir.<br />
        Ahmet, toplum baskısı, aşk ve kendi içindeki zayıflıklarla mücadele ederken, bu durum onun ilişkisine de yansır.
    <a href="@Url.Action("icimizdeki_seytan","Home")" class="continue-btn">Devamı...</a>
    </div></div>
       
</body>
</html>