<!DOCTYPE html>
<html lang="en">
<head>

    @{
        ViewData["Title"] = "Sabahattin Ali - Şiirleri";
    }
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
     <div class="e_metin">Şiirleri</div><br />
    <div class="o_metin"><p><b><i>
Sabahattin Ali, öykü ve romanlarıyla tanınsa da, şiirleri de Türk edebiyatında önemli bir yer tutar.<br />
Şiirlerinde, aşk, ayrılık, yalnızlık, doğa sevgisi ve toplumsal sorunlar gibi temaları işler.<br />
Genellikle sade ve içten bir üslupla yazdığı şiirleri, hem duygusal hem de eleştirel bir bakış açısı taşır.</i></b> </p>
     </div><hr />
      <div class="e_foto11"><img src="~/image/foto17.jpg" />
   <div class="o_metin2">Ortalama Sayfa Sayısı: 160 sayfa<br /><br /> 
       Sabahattin Ali’nin tüm şiirlerini bir araya getiren derleme bir eserdir.<br />
       Bu kitap, yazarın gerek "Dağlar ve Rüzgâr" adlı kitabında yayımlanan şiirlerini, gerekse ölümünden sonra derlenen diğer şiirlerini içerir.<br />
       Sabahattin Ali’nin aşk, yalnızlık, doğa ve toplumsal eleştiriler içeren şiirlerini bir araya getirerek, onun şair kimliğini tanımak isteyen okurlar için kapsamlı bir kaynaktır.
   <a href="@Url.Action("butun_siirleri","Home")" class="continue-btn">Devamı...</a>
   </div></div>         
    </body>
</html>