<!DOCTYPE html>
<html lang="en">
<head>

    @{
        ViewData["Title"] = "Sabahattin Ali - Sırça Köşk";
    }
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="e_metin">S I R Ç A &nbsp; K Ö Ş K</div><br />
    <div class="o_metin"><p><b><i>Sırça Köşk, Sabahattin Ali’nin 1947 yılında yayımlanan ve adını taşıyan hikâyesiyle dikkat çeken kitabıdır.<br />
        Kitapta masalsı bir üslup benimsenmiş, toplumsal eleştiri ve hiciv öğeleri ön plana çıkarılmıştır.<br />
        13 hikâye ve masal yer alan kitap, bireysel ahlak ve toplumsal düzen arasındaki çelişkileri etkileyici bir şekilde işler.<br />
        Özellikle kitaba adını veren Sırça Köşk, yazarın toplum eleştirisinin yoğunlaştığı bir hikâyedir.</i></b> </p>
     </div><hr />
     <div class="metin_ozet">
     <div class="oyku">
       <br /><strong>Sırça Köşk Hikayesinin Özeti</strong><br /><br />
       Bir zamanlar insanlar, kendi yaşamlarını daha kolay hale getirecek, onlara rehberlik edecek bilgili kişilere ihtiyaç duyar.<br />
       Bunun için halk, bilgili ve güvenilir birkaç kişiyi bir araya getirerek onları bir sırça köşke yerleştirir.
       Bu köşk, her türlü dış etkenden korunmuş, güçlü duvarlarla çevrilidir ve sırf bu kişiler halkın sorunlarını daha iyi düşünebilsin diye inşa edilmiştir.<br />
       Başlangıçta her şey yolunda gider. 
       Köşkte yaşayan kişiler, halkın problemlerini çözer, ihtiyaçlarına cevap verir. 
       Ancak zamanla bu kişiler halktan uzaklaşır, kendilerini halktan üstün görmeye başlar ve halkın gerçek sorunlarını anlamaktan koparlar. 
       Artık yalnızca kendi çıkarlarını düşünür hale gelirler.
       Halk, köşkün içindeki kişilerin kendilerini unuttuğunu fark edince duruma tepki gösterir.<br />
       Sırça Köşk’ün halktan kopuk yöneticilerle dolu olduğunu ve bu düzenin kendilerine zarar verdiğini anlayan insanlar, bir gün köşkün duvarlarını yıkmaya karar verir.<br />
       Duvarlar yıkıldığında, sırça köşk tamamen yerle bir olur ve içindeki kişiler halkın arasında yaşamaya mecbur kalır.<br /><br />
        <strong>Kitapta Yer Alan Diğer Hikâyeler</strong><br /><br />
       Sırça Köşk kitabında yer alan diğer hikâyeler de toplumsal eleştiri ve bireysel değerler üzerine yoğunlaşır.<br /> İşte birkaç örnek:<br />
       Bir Aşk Masalı: İnsanın sevgi ve özlem duygularını masalsı bir şekilde işler.<br />
       Devlerin Ölümü: Güç ve kibir temasını ele alan bir masal.<br />
       Kurnazlık: Toplumdaki çıkar ilişkilerini hicveder.<br />
       Bir Orman Hikâyesi: Doğaya olan saygıyı ve insanın ona karşı duyduğu sorumluluğu işler.<br />
        </div>
         <img src="~/image/foto18.jpg" class="resim"/>    
    </div>
    </body>
</html>
