<!DOCTYPE html>
<html lang="en">
<head>

    @{
        ViewData["Title"] = "Sabahattin Ali - Tiyatro Eserleri";
    }
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="e_metin">Tiyatro Eserleri</div><br />
    <div class="o_metin"><p><b><i>Sabahattin Ali’nin tiyatro türünde kaleme aldığı bilinen tek eseri "Esirler" adlı oyundur.<br />
        "Esirler", Sabahattin Ali'nin tiyatro alanındaki denemesi olarak, onun edebiyatın farklı türlerinde eser üretme konusundaki başarısını da ortaya koyar.<br />
        Ancak yazarın asıl yoğunlaştığı alanlar öykü, roman ve şiir olmuştur.</i></b></p>
     </div><hr />
     <div class="e_foto11"><img src="~/image/foto10.jpg" />
   <div class="o_metin2">Tek perdelik tiyatro oyunu<br /><br /> 
       Eserde, savaşın bireyler ve toplum üzerindeki yıkıcı etkileri ele alınır.<br />
       Farklı toplumsal sınıflardan gelen bireylerin savaş sırasında yaşadıkları psikolojik ve duygusal zorluklar,<br />
       özgürlük ve esaret temaları etrafında işlenir.<br />
       Oyunda sade bir dil kullanılmıştır ve toplumsal gerçeklik güçlü bir şekilde yansıtılmıştır.
   <a href="@Url.Action("esirler","Home")" class="continue-btn">Devamı...</a>
   </div></div>
         
    </body>
</html>