<!DOCTYPE html>
<html lang="en">
<head>

    @{
        ViewData["Title"] = "Sabahattin Ali - Yeni Dünya";
    }
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="e_metin">Y E N İ &nbsp; D Ü N Y A</div><br />
    <div class="o_metin"><p><b><i>Yeni Dünya, Sabahattin Ali’nin 1943 yılında yayımlanan öykü kitabıdır.<br />
        Bu kitap, yazarın Anadolu insanının yaşamını, toplumdaki adaletsizlikleri ve bireyin yalnızlığını ele aldığı 13 öyküden oluşur.<br />
        Her biri derin gözlemlerle yazılmış bu hikâyelerde toplumsal gerçekçilik ve insan ruhuna dair çözümlemeler ön plandadır.<br />
        Kitaba adını veren Yeni Dünya öyküsü, etkileyici bir hikâye olarak diğerlerinden ayrılır.</i></b> </p>
     </div><hr />
     <div class="metin_ozet">
     <div class="oyku">
       <br /><strong>Yeni Dünya Hikayesinin Özeti</strong><br /><br />
        Hikâye, göçmen bir ailenin yaşamına odaklanır ve onların yeni bir hayat kurma mücadelesini anlatır.<br />
        Ana karakter Hacı Fettah ve ailesidir. Hacı Fettah, ailesini ve çocuklarını daha iyi bir hayata kavuşturmak için köyünden ayrılmış, başka bir yere göç etmiştir.
        Göç ettikleri yer, ailesinin hayalini kurduğu “yeni dünya”dır; fakat işler düşündükleri gibi gitmez.
        Göçmen oldukları için yerli halk tarafından dışlanırlar. Köyde kalıcı bir yer edinmek ve toplumda kabul görmek, onlar için zorlu bir mücadeleye dönüşür. 
        Hacı Fettah, ailesini geçindirebilmek için çeşitli işlerde çalışır. Ancak yapılan işler genellikle ağırdır ve emeklerinin karşılığını alamaz.
        Yine de ailesi için umut etmeyi bırakmaz.<br />
        Hikâye boyunca, Hacı Fettah’ın iç dünyası ve ailesine olan bağlılığı derinlemesine işlenir.
        Ailesine olan sevgisi ve onları daha iyi bir geleceğe kavuşturma arzusu, onun en büyük motivasyonu olur.
        Ancak zaman geçtikçe hayallerinin gerçekleşmeyeceğini, “yeni dünya” olarak gördükleri yerin de zorluklarla dolu olduğunu fark eder.<br />
        Hikâye, göçmenlerin yaşadığı hayal kırıklıklarını, toplumda yer edinme mücadelelerini ve ekonomik zorlukları etkileyici bir dille anlatır. 
        Sabahattin Ali, bu hikâyede göçmenlerin dışlanma hissini, bireysel umutların toplum gerçekleriyle çatışmasını ustaca işler.<br /><br />
        <strong>Kitapta Yer Alan Diğer Hikâyeler</strong><br /><br />
        Yeni Dünya kitabında yer alan diğer hikâyeler, Anadolu insanının zorlu yaşamını, sosyal adaletsizlikleri ve bireylerin içsel çatışmalarını işler.<br /> İşte bazı dikkat çeken hikâyeler:<br />
        Hasan Boğuldu: Zoraki bir evlilik ve trajik bir aşk hikâyesi.<br />
        Arabalar Beş Kuruşa: Yoksul çocukların hayalleri ve hayata tutunma çabası.<br />
        Köstence Güzellik Kraliçesi: Anadolu’dan gelen bir adamın, büyük şehirde yaşadığı kültürel çatışmalar.
        </div>
         <img src="~/image/foto14.jpg" class="resim"/>    
    </div>
    </body>
</html>